@import 'ress', 'common', 'var', 'nav', 'header';
.answer{
    width: 100vw;
    height: 100vh;
    padding-top: 65px;
    background-color: $backgroundColor;
    margin-top: 100px;
    &__wrap{
        width: 90vw;
        height: 70vh;
        margin: 0 auto;
        padding: 10px 35px 24px;
        background-color: #fff;
        border-radius: 10px;
        &__message-area{
            display: flex;
            align-items: center;
            padding: 15px 0;
            border-bottom: solid 1px $borderColor;
            text-decoration: none;
            &__human-img{
                margin-right: 24px;
            }
            &__icon{
                margin-right: 16px;
            }
            &__notification{
                color: $textColor;
                font-size: 1.4rem;
                font-weight: bold;
                line-height: 24px;
            }
        }
    }
}